# Ambiente virtual
venv/
env/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Arquivos do Python
__pycache__/
*.py[cod]
*$py.class

# Banco de dados SQLite
instance/
*.db

# Logs
*.log

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db