<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/About.css') }}">
    <title>Chatbot IA</title>
</head>
<body>
  {% include 'components/header.html' %}
  <main>
    <div id="header-component"></div>
    <section class="about-section">
        <div class="about-content">
          <h1 class="about-title">Sobre a Empresa</h1>
          <p class="about-text">
            Bem-vindo ao grupo FailGuard, onde inovação encontra criatividade! Somos especializados
            em criar experiências digitais avançadas, combinando design arrojado e tecnologia 
            de ponta. Com uma equipe apaixonada pelo futuro, nossa missão é transformar suas 
            ideias em realidade.
          </p>
          <p class="about-text highlight">
            Atuamos nas áreas de desenvolvimento direcionado a automação e soluções inteligentes. Desde 
            2024, temos estudado inovações em diversos setores, com projetos impactantes que 
            estão representando resultados surpreendentes.
          </p>
          <p class="about-text">
            Nossa visão é clara: ajudar e proporcionar uma facilitação na área industrial,
            propondo novas soluções inovadoras para reduzir custo e dor de cabeça para as
            empresas com nossas soluções inovadoras.
          </p>
        </div>
      </section>
    </main>
     {% include 'components/footer.html' %}
</body>
</html>
