<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap"
    rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/braco.css') }}">
  <title>Braço Robótico</title>
</head>

<body>
  {% include 'components/header.html' %}
  <div class="container" id="app">
    <!-- Imagem principal com o mapa de áreas clicáveis -->
    <div class="img-container">
      <img src="{{ url_for('static', filename='images/braço.jpeg') }}" alt="braço" usemap="#image-map">
      <map name="image-map">
        <!-- Dividindo a imagem em 9 partes (3x3) -->
        <area shape="rect" coords="0,0,400,267" alt="Parte 1" onclick="showPart(1)">
        <area shape="rect" coords="400,0,800,267" alt="Parte 2" onclick="showPart(2)">
        <area shape="rect" coords="800,0,1200,267" alt="Parte 3" onclick="showPart(3)">
        <area shape="rect" coords="0,267,400,534" alt="Parte 4" onclick="showPart(4)">
        <area shape="rect" coords="400,267,800,534" alt="Parte 5" onclick="showPart(5)">
        <area shape="rect" coords="800,267,1200,534" alt="Parte 6" onclick="showPart(6)">
        <area shape="rect" coords="0,534,400,800" alt="Parte 7" onclick="showPart(7)">
        <area shape="rect" coords="400,534,800,800" alt="Parte 8" onclick="showPart(8)">
        <area shape="rect" coords="800,534,1200,800" alt="Parte 9" onclick="showPart(9)">
      </map>
    </div>
    <!-- Modal para exibir a parte ampliada -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <img id="zoomed-img" src="" alt="Zoomed Image">
        <p id="zoomed-text" class="description"></p>
      </div>

      <script src="{{ url_for('static', filename='scripts/braco.js') }}"></script>
</body>

</html>