<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Gráficos</title>
    <!-- Chart.js e Zoom Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}" />
</head>
<body>
    {% include 'components/posHeader.html' %}
    <div class="container">
        <h2 class="text-center mb-5">Dashboard de Gráficos com Zoom</h2>
        
        <!-- Dropdown para seleção do intervalo de tempo -->
        <div class="filter-container">
            <label for="timeRange">Escolha o intervalo de tempo:</label>
            <select id="timeRange">
                <option value="day">Dia</option>
                <option value="week">Semana</option>
                <option value="month">Mês</option>
                <option value="year">Ano</option>
            </select>
            <button id="applyFilter">Aplicar Filtro</button>
        </div>

        <div class="chart-grid">
            <div class="chart-item">
                <h4>Vibração Braço</h4>
                <canvas id="vibrationBracoChart"></canvas>
            </div>
            <div class="chart-item">
                <h4>Vibração Base</h4>
                <canvas id="vibrationBaseChart"></canvas>
            </div>
            <div class="chart-item">
                <h4>Corrente</h4>
                <canvas id="currentChart"></canvas>
            </div>
            <div class="chart-item">
                <h4>Temperatura</h4>
                <canvas id="temperatureChart"></canvas>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
</body>
</html>
