<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Gráficos</title>
    <!-- Inclua os scripts na ordem correta -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}" />
</head>
<body>
    {% include 'components/posHeader.html' %}
    <div class="container">
        <h2 class="text-center mb-5">Dashboard de Gráficos</h2>
        <!-- Dropdown para seleção do intervalo de tempo -->
        <div class="mb-3">
            <label for="timeRange">Escolha o intervalo de tempo:</label>
            <select id="timeRange">
                <option value="day">Dia</option>
                <option value="week">Semana</option>
                <option value="month">Mês</option>
                <option value="year">Ano</option>
            </select>
            <button id="applyFilter">Aplicar Filtro</button>
        </div>
        <div class="chart-container">
            <div>
                <h4>Setor de Vibração Base</h4>
                <canvas id="vibrationChart"></canvas>
            </div>
            <div>
                <h4>Setor Temperatura</h4>
                <canvas id="gaugeChart"></canvas>
            </div>
            <div>
                <h4>Setor de Corrente</h4>
                <canvas id="currentChart"></canvas>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
</body>
</html>
