<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage do Projeto</title>s
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/Home.css') }}">
</head>

<body>
  <main>
    {% include 'components/header.html' %}

    <!-- Seção do logo -->
    <section class="logo-section hidden" id="logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo do Grupo" class="logo-img">
    </section>

    <!-- Seção do vídeo -->
    <section class="video-section hidden" id="video">
      <h2>Braço Robótico em Ação</h2>
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/seu_video_id" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </section>

    <!-- Seção de participantes -->
    <section class="integrantes hidden" id="integrantes">
      <h2>Participantes do Projeto</h2>
      <div class="caixas">
        <div class="Imagem-habilidade hidden" onMouseEnter="toggleText('integrante1')" onMouseLeave="toggleText(null)">
          <img src="{{ url_for('static', filename='images/Vini.jpg') }}" alt="Vini">
          <div class="texto-habilidade">Vinicíus Olivetti</div>
          <div class="contribuicoes" id="integrante1">P.O do projeto, além de principal na parte elétrica e montagem do
            projeto</div>
        </div>
        <div class="Imagem-habilidade hidden" onMouseEnter="toggleText('integrante2')" onMouseLeave="toggleText(null)">
          <img src="{{ url_for('static', filename='images/Dani.jpg') }}" alt="Dani">
          <div class="texto-habilidade">Danilo Balbino</div>
          <div class="contribuicoes" id="integrante2">Programado, atuando principamente na área de IA, sensores e nos
            motores</div>
        </div>
        <div class="Imagem-habilidade hidden" onMouseEnter="toggleText('integrante3')" onMouseLeave="toggleText(null)">
          <img src="{{ url_for('static', filename='images/Sakura.jpg') }}" alt="Sakura">
          <div class="texto-habilidade">Gabriel Sakura</div>
          <div class="contribuicoes" id="integrante3">Programado, atuando na área do site do projeto e auxiliando no
            desenvolvimento
            IA</div>
        </div>
        <div class="Imagem-habilidade hidden" onMouseEnter="toggleText('integrante4')" onMouseLeave="toggleText(null)">
          <img src="{{ url_for('static', filename='images/Gabu.jpg') }}" alt="Gabu">
          <div class="texto-habilidade">Gabriel Pereira</div>
          <div class="contribuicoes" id="integrante4">Desenhista</div>
        </div>
        <div class="Imagem-habilidade hidden" onMouseEnter="toggleText('integrante5')" onMouseLeave="toggleText(null)">
          <img src="{{ url_for('static', filename='images/Marchel.jpg') }}" alt="Marchel">
          <div class="texto-habilidade">Marchel Augutos</div>
          <div class="contribuicoes" id="integrante5">Financeiro</div>
        </div>
      </div>
      <div class="frase-domino">
        Hover sobre as imagens para ver as contribuições!
      </div>
    </section>

    <!-- Seção sobre a empresa -->
    <section class="about-section hidden" id="sobre">
      <div class="about-content">
        <h1 class="about-title">Sobre a Empresa</h1>
        <p class="about-text">
          Bem-vindo ao grupo FailGuard, onde inovação encontra criatividade! Somos especializados
          em criar experiências digitais avançadas, combinando design arrojado e tecnologia
          de ponta. Com uma equipe apaixonada pelo futuro, nossa missão é transformar suas
          ideias em realidade.
        </p>
        <p class="about-text highlight">
          Atuamos nas áreas de desenvolvimento direcionado a automação e soluções inteligentes. Desde
          2024, temos estudado inovações em diversos setores, com projetos impactantes que
          estão representando resultados surpreendentes.
        </p>
        <p class="about-text">
          Nossa visão é clara: ajudar e proporcionar uma facilitação na área industrial,
          propondo novas soluções inovadoras para reduzir custo e dor de cabeça para as
          empresas com nossas soluções inovadoras.
        </p>
      </div>
    </section>
  </main>
  <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
</body>

</html>