body {
    background-color: #1f1f1f;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
}

.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px; /* Limita a largura máxima */
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.filter-item {
    display: flex;
    align-items: center;
}

.filter-item select,
.filter-item button {
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
}

#applyFilter {
    background-color: #007bff;
}

#applyFilter:hover {
    background-color: #0056b3;
}

.filter-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.chart-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 2fr));
    gap: 20px; /* Espaço entre os gráficos */
}

.chart-item {
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px;
}

.chart-item h4 {
    color: #9a67ea;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745; /* Verde */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838; /* Verde escuro ao passar o mouse */
}


.filter-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Espaço abaixo dos filtros */
}

.filter-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-container select, 
.filter-container button {
    padding: 10px; /* Espaçamento interno */
    margin: 0 5px; /* Margens laterais */
    border-radius: 5px; /* Bordas arredondadas */
    border: none; /* Sem borda */
    background-color: #333; /* Fundo escuro */
    color: white; /* Texto branco */
}

#applyFilter {
    background-color: #007bff; /* Azul */
}

#applyFilter:hover {
    background-color: #0056b3; /* Azul escuro ao passar o mouse */
}

.filter-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0; /* Margens acima e abaixo */
    width: 100%; /* Largura total */
}

.filter-item label,
.filter-item select {
    margin: 0 10px; /* Margens laterais */
}

/* Filtros da semana lado a lado */
#weekFilter .filter-item {
    display: flex;
    flex-direction: row; /* Exibição em linha */
    justify-content: center;
    align-items: center;
    gap: 15px; /* Espaçamento entre itens */
}

.filter-option label, 
.filter-option select {
    margin-bottom: 10px; /* Margem inferior */
    padding: 10px; /* Espaçamento interno */
    width: 200px; /* Largura fixa */
    border-radius: 5px; /* Bordas arredondadas */
    border: none; /* Sem borda */
    background-color: #333; /* Fundo escuro */
    color: white; /* Texto branco */
}

.filter-option select {
    background-color: #444; /* Fundo um pouco mais claro */
    padding: 10px; /* Espaçamento interno */
}

.filter-option input[type="date"] {
    padding: 10px; /* Espaçamento interno */
    width: 200px; /* Largura fixa */
    border-radius: 5px; /* Bordas arredondadas */
    border: none; /* Sem borda */
    background-color: #444; /* Fundo claro */
    color: white; /* Texto branco */
}
body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.media-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    gap: 20px; /* Aumenta o espaço entre as caixas */
}

.media-box {
    background-color: #1E1E1E;
    border: 2px solid #333333;
    border-radius: 10px;
    padding: 20px;
    width: 22%;
    text-align: center;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.media-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #9400D3; /* Escurecer o RGB para roxo */
}

.media-box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #4B0082, #9400D3, #4B0082, #4B0082); /* Gradiente roxo escuro */
    background-size: 400%;
    border-radius: 12px;
    z-index: -1;
    animation: glow 15s linear infinite;
}

@keyframes glow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.media-box:hover:before {
    box-shadow: 0 0 10px #9400D3; /* Escurecer o efeito de hover */
}
