<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
  <title>Header</title>
</head>
<body>
  <header class="header">
    <nav class="nav-links">
      <a href="{{ url_for('dashboard') }}" class="nav-link">Dashboard</a>
      <a href="{{ url_for('index') }}" class="nav-link">Chat</a>
      {% if session.get('username') and session.get('is_admin') %}  <!-- Verificação se o usuário é admin -->
      <a href="{{ url_for('admin_dashboard') }}" class="nav-link">Admin Dashboard</a>  <!-- Link do painel de admin -->
      {% endif %}
      <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>  
      
      
    </nav>
  </header>
</body>
</html>
